@import "../../../variables";

.project-card {
  width: 250px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  background-color: $primary-color;
  padding: 20px 0;
}

.project-card__header {
  font-size: 20px;
  font-weight: 500;
}

.project-card__main {
  justify-content: flex-start;
  margin-bottom: 40px;
  :nth-child(n) {
    margin-left: 15px;
  }
}

.project-card__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-activity {
  color: $non-highlight-text;
  margin-top: -7px;
}