$app-padding: 20;

$drawer-width: 100;
$app-bar-height: 60;

/* Colors */
$primary-color: #fff;
$secondary-color: #000;
$additional-color: #3aafae;
$sub-color: #5f758e;
$background-color: #f7f9fb;
$non-highlight-text: #bbbcbf;