@import "../../../variables";

.layout-toolbar {
  display: flex;
  flex: 4;
  margin-left: (60 + $app-padding / 2) * 1px;
}

.layout-toolbar__label {
  font-size: 24px;
  font-weight: 500;
}

.layout-toolbar__button {
  margin-left: $app-padding * 1px;
}